<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thyroid Disease Detection</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Thyroid Disease Detection System</h1>
        <p>This is a simple web app to detect thyroid affected patients in their pre-stages. Explore the power of data analysis!</p>
        <a href="/predict">Go to Prediction</a>
    </div>
</body>
</html>
